$arrow-size: 50px; // Размер стрелок
$arrow-color: rgba(255, 255, 255, 0.8); // Цвет фона стрелок
$arrow-hover-color: rgba(255, 255, 255, 1); // Цвет при наведении
$box-shadow: 0 0 10px #1074bb, 0 0 20px #1074bb, 0 0 30px #1074bb;
$text-shadow: 0 0 10px #1074bb, 0 0 10px #6aa9fa;
$botton-color: #005c9b;
$secondary-color: #ffffff;

.slider-container-box {
  display: flex;
  justify-content: center;
}

.slider-container {
  width: 94vw;
  height: 343px;
  border-radius: 20px;
  overflow: hidden;
  position: relative; // Для размещения стрелок поверх
  box-shadow: $box-shadow;

  .img__slider {
    width: 100%; // Используем всю ширину контейнера
    border-radius: 20px; // Скругленные углы
  }

  // Стрелки
  .slick-arrow {
    position: absolute; // Размещаем поверх
    top: 50%; // Центрируем по вертикали
    transform: translateY(-50%); // Для точного выравнивания
    z-index: 10; // Поверх всего
    width: $arrow-size; // Размер стрелок
    height: $arrow-size;
    border-radius: 50%; // Круглые стрелки
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: $box-shadow; // При наведении
    }

    &.slick-prev {
      left: 10px; // Смещаем влево
    }

    &.slick-next {
      right: 10px; // Смещаем вправо
    }
  }

  // Навигационные точки
  .slick-dots {
    li {
      button {
        &:before {
          color: $secondary-color; // Цвет точек
          font-size: 15px; // Размер точек
        }
      }

      &.slick-active button:before {
        color: $botton-color; // Цвет активной точки
        text-shadow: $text-shadow;
      }
    }
  }
}

@media (max-width: 1440px) {
  .slider-container {
    height: 325px;
  }
}

@media (max-width: 1024px) {
  .slider-container {
    height: 250px;

    .img__slider {
      height: 250px;
    }
  }
}

@media (max-width: 768px) {
  .slider-container {
    height: 250px;

    .img__slider {
      height: 250px;
    }
  }

  .slider-container .slick-arrow.slick-next {
    right: 0px;
  }

  .slider-container .slick-arrow.slick-prev {
    left: 0px;
  }
}

@media (max-width: 426px) {
  .slider-container {
    height: 150px;

    .img__slider {
      height: 150px;
    }
  }
}

@media (max-width: 376px) {

  .slider-container .slick-arrow.slick-next {
    right: -10px;
  }

  .slider-container .slick-arrow.slick-prev {
    left: -10px;
  }
}