$primary-color: #64bfff;
$secondary-color: #ffffff;
$background-color: #000000fa;
$botton-color: #005c9b;
$width-information-cart: 90%;
$text-shadow: 0 0 10px #1074bb, 0 0 10px #6aa9fa;
$box-shadow: 0 0 10px #1074bb, 0 0 20px #1074bb, 0 0 30px #1074bb;


* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #000018;

  &.no-scroll {
    overflow: hidden;
  }
}

h1 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


.header {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;

  &__title {
    font-size: 90px;
    text-shadow: $text-shadow;
  }

  &__text {
    font-size: 25px;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &__img {
      max-width: 120px;
    }

    &__link {
      display: flex;
      align-items: center;
      text-align: center;
      text-decoration: none;
      color: $secondary-color;
      gap: 52px;
      margin-right: 200px;
    }
  }

  &__info__img {
    min-width: 98.9vw;
    max-height: 600px;
    object-fit: cover;
  }
}

.menu__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 50px;
  padding: 20px 6px;
  margin: 70px 45px 20px 45px;
  position: sticky;
  top: 5px;
  z-index: 1;
  text-shadow: $text-shadow;
  border: solid 1px #1074bb;
  box-shadow: $box-shadow;
  border-radius: 10px;
  background: rgb(0 0 0 / 90%);

  .nav__menu__img {
    max-width: 55px;
    min-height: 55px;
  }

  .menu__link {
    display: flex;
    justify-items: center;
    gap: 4px;
    text-decoration: none;
    color: $secondary-color;
    flex-direction: row;
    flex-wrap: wrap;
    transition: transform 0.2s;

    &:hover {
      color: $primary-color;
    }

    .menu__text {
      text-align: center;
      font-size: 24px;
    }
  }

  .menu__link.active .menu__text {
    color: $primary-color;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    font-size: 17px;
    text-shadow: $text-shadow;
    border: solid 1px $primary-color;
    box-shadow: $box-shadow;
    border-radius: 10px;
    padding: 15px 6px;
    margin-left: 460px;
    width: 500px;
    z-index: 1;
    background: rgb(0 0 0 / 90%);


    &__link {
      text-decoration: none;
      color: $secondary-color;
      transition: color 0.2s, transform 0.2s;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.product__title {
  font-size: 50px;
  color: $secondary-color;
  margin-left: 175px;
  padding-top: 100px;

  &__img {
    width: 45px;
    margin-left: 20px;
  }
}

.product__article {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  gap: 20px;
  margin: 20px;

  &__sushi,
  &__sushi__spicy,
  &__sushi__baked {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    justify-content: center;
    gap: 50px;
    margin: 20px;
  }
}

.product__sushi {
  position: relative;
  display: grid;
  gap: 10px;
  background-color: #ffffffb3;
  border-radius: 15px;
  padding: 15px;
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 10px rgba($primary-color, 1);
  }

  &__img {
    width: 240px;
    height: 220px;
  }

  &__title {
    font-size: 24px;
  }

  &__text {
    min-height: 47px;
    font-size: 16px;
    color: #000000ba;
  }

  &__price {
    font-size: 23px;
    padding: 5px;
  }

  &__button {
    font-family: "Exo 2", sans-serif;
    min-width: 90px;
    min-height: 40px;
    border-radius: 15px;
    border: none;
    background-color: $secondary-color; // Основной цвет кнопки
    color: $botton-color; // Цвет текста
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s ease, background-color 0.7s ease, box-shadow 0.5s ease, color 0.7s;

    display: flex;
    align-items: center;
    justify-content: center;

    // Эффект при наведении
    &:hover {
      background-color: $botton-color; // Меняем цвет фона
      color: $secondary-color; // Меняем цвет текста
      box-shadow: 0 4px 15px rgba($primary-color, 1); // Лёгкое свечение
    }

    // Анимация нажатия
    &:active {
      transform: scale(0.9); // Уменьшаем кнопку
      box-shadow: 0 2px 8px rgba($primary-color, 0.3); // Слегка убираем свечение
    }
  }
}

.cart__icon {
  position: fixed;
  top: 600px;
  right: 15px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none; // Отключаем взаимодействие изначально
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.show {
    opacity: 1; // Полностью видимый
    transform: translateY(0); // Возвращаем в исходное положение
    pointer-events: auto; // Включаем взаимодействие, когда иконка видна
  }

  &__button {
    position: relative;
    width: 80px; // Размер кнопки
    height: 80px;
    border-radius: 53px; // Круглая форма
    border: none; // Без обводки
    color: #fff; // Цвет текста
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease; // Плавный переход

    &__img {
      width: 35px;
    }

    &__badge {
      position: absolute;
      top: -3px;
      right: 0px;
      border-radius: 15px;
      padding: 6px 11px;
      background-color: $botton-color;
    }

    &:hover {
      box-shadow: 0 0 100px 10px rgba($botton-color, 1);
      transform: scale(1.1); // Лёгкое увеличение при наведении
    }
  }
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  // padding: 25px 0 25px 0px;
  overflow-y: auto;
  /* Чтобы появилась полоса прокрутки, если контент не помещается */

  // Скролл
  &::-webkit-scrollbar {
    width: 15px;
    /* Ширина полосы прокрутки */
  }

  &::-webkit-scrollbar-thumb {
    background: $botton-color;
    /* Цвет ползунка */
    border-radius: 4px;
    /* Закругление углов ползунка */
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    /* Прозрачный фон для трека полосы прокрутки */
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 22px;
    box-sizing: border-box;
    padding: 25px 0 25px 0px;
  }


  &__title {
    font-size: 40px;
    margin-top: 10px;
  }

  &__order {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    width: 580px;
    background: #000018;
    padding: 20px;
    box-shadow: $box-shadow;
    border-radius: 8px;

    &-empty {
      display: flex;
      gap: 20px;
      font-family: "Exo 2", sans-serif;
      font-size: 25px;
      margin: 30px 0px 30px 0px;
      flex-direction: column;
      align-items: center;

      &-img {
        width: 45px;
        padding: 14px;
        background: $secondary-color;
        box-shadow: $box-shadow;
        border-radius: 28px;
      }
    }

    &-information {
      width: $width-information-cart;
      display: flex;
      flex-direction: column;
    }

    &__product {
      display: flex;
      align-items: center;

      &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;

        &-style {
          max-width: 100px;
          height: auto;
        }
      }

      &__text {
        &-style {
          text-align: center;
          font-size: 21px;
          width: 255px;
        }
      }

      &__quantity {
        display: flex;
        gap: 16px;
        align-items: baseline;
        margin-right: 24px;


        &__button-style {
          font-size: 25px;
        }

        &__button-decrease,
        &__button-increase {
          box-shadow: $box-shadow;
          border: none;
          background: none;
          border-radius: 15px;
          font-size: 0px;
          cursor: pointer;
        }

        &__button-count {
          width: 20px;
        }
      }

      &__button {
        text-align: center;

        &-delete {
          display: flex;
          border: none;
          background: none;
          cursor: pointer;
        }

        &-img {
          width: 25px;
          background: $secondary-color;
          padding: 10px;
          border-radius: 25px;

          &:hover {
            transform: scale(1.02);
            box-shadow: 0 0 10px 10px rgba(#9b0000, 1);
          }
        }
      }
    }

    &-delivery {
      display: flex;
      flex-direction: column;
      width: $width-information-cart;
      margin-top: 30px;

      select {
        font-family: "Exo 2", sans-serif;
        font-weight: bold;
        padding: 10px;
        margin-top: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-shadow: $box-shadow;
      }

      &-time {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        width: $width-information-cart;

        input[type='time'] {
          font-family: "Exo 2", sans-serif;
          font-weight: bold;
          padding: 9px 10px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-shadow: $box-shadow;
        }

        .error {
          color: red;
          font-size: 12px;
        }
      }
    }

    &-contact,
    &-address,
    &-comments,
    &-coupon,
    &-payment {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 30px;
      width: $width-information-cart;


      select,
      input,
      textarea {
        font-family: "Exo 2", sans-serif;
        font-weight: bold;
        padding: 10px;
        margin-top: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-shadow: $box-shadow;
      }
    }

    &-amount {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      p {
        font-size: 24px;
        font-weight: bold;
      }
    }

    &-submit {
      margin-top: 30px;

      &-button {
        font-family: "Exo 2", sans-serif;
        font-weight: bold;
        padding: 20px 196px;
        background-color: #ffffff;
        color: #005c9b;
        border: none;
        font-weight: 800;
        border-radius: 10px;
        font-size: 22px;
        cursor: pointer;
        transition: transform 0.5s ease, background-color 0.7s ease, box-shadow 0.5s ease, color 0.7s;

        &:hover {
          background-color: $botton-color; // Меняем цвет фона
          color: $secondary-color; // Меняем цвет текста
          box-shadow: $box-shadow; // Лёгкое свечение
        }

        // Анимация нажатия
        &:active {
          transform: scale(0.9); // Уменьшаем кнопку
          box-shadow: $box-shadow; // Слегка убираем свечение
        }
      }
    }
  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;

  &__logo {
    margin-right: 390px;

    &__link {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8196078431);
      padding-bottom: 35px;
      border-radius: 15px;
    }

    &__img {
      max-width: 60px;
      padding-right: 25px;
    }

    &__title {
      text-align: center;
      text-shadow: $text-shadow;
    }
  }

  &__nav {
    display: flex;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    color: rgba(255, 255, 255, 0.8196078431);
    text-shadow: $text-shadow;

    &__info {
      display: grid;
      gap: 10px;

      &-text {
        text-decoration: none;
        color: $secondary-color;

        &:hover {
          color: $primary-color;
        }
      }
    }

    &__order {
      display: grid;
      align-items: center;
      justify-items: center;
      gap: 10px;

      &-tel {
        text-decoration: none;
        color: $secondary-color;

        &:hover {
          color: $primary-color;
        }
      }
    }

    &__workingTime {
      display: grid;
      gap: 10px;

      &-text {
        color: #fff;
      }
    }
  }
}