* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #000018;
}
body.no-scroll {
  overflow: hidden;
}

h1 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.header {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.header__title {
  font-size: 90px;
  text-shadow: 0 0 10px #1074bb, 0 0 10px #6aa9fa;
}
.header__text {
  font-size: 25px;
}
.header__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.header__logo__img {
  max-width: 120px;
}
.header__logo__link {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8196078431);
  gap: 52px;
  margin-right: 200px;
}
.header__info__img {
  min-width: 98.9vw;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 50px;
  padding: 20px 6px;
  margin: 70px 45px 20px 45px;
  position: sticky;
  top: 5px;
  z-index: 1;
  text-shadow: 0 0 10px #1074bb, 0 0 10px #6aa9fa;
  border: solid 1px #1074bb;
  box-shadow: 0 0 10px #1074bb, 0 0 20px #1074bb, 0 0 30px #1074bb;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.9);
}
.menu__nav .nav__menu__img {
  max-width: 55px;
  min-height: 55px;
}
.menu__nav .menu__link {
  display: flex;
  justify-items: center;
  gap: 4px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8196078431);
  flex-direction: row;
  flex-wrap: wrap;
  transition: transform 0.2s;
}
.menu__nav .menu__link:hover {
  color: rgba(85, 222, 240, 0.85);
}
.menu__nav .menu__link .menu__text {
  text-align: center;
  font-size: 24px;
}
.menu__nav .menu__link.active .menu__text {
  color: rgba(85, 222, 240, 0.85);
}
.menu__nav__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
  font-size: 17px;
  text-shadow: 0 0 10px #1074bb, 0 0 10px #6aa9fa;
  border: solid 1px #1074bb;
  box-shadow: 0 0 10px #1074bb, 0 0 20px #1074bb, 0 0 30px #1074bb;
  border-radius: 10px;
  padding: 10px;
  margin-left: 460px;
  width: 500px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
}
.menu__nav__info__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8196078431);
  transition: color 0.2s, transform 0.2s;
}
.menu__nav__info__link:hover {
  color: rgba(85, 222, 240, 0.85);
}

.product__title {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8196078431);
  margin-left: 175px;
  padding-top: 100px;
}
.product__title__img {
  width: 45px;
  margin-left: 20px;
}

.product__article {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
.product__article__sushi, .product__article__sushi__spicy, .product__article__sushi__baked {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  gap: 50px;
  margin: 20px;
}

.product__sushi {
  position: relative;
  display: grid;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.7019607843);
  border-radius: 15px;
  padding: 15px;
  transition: transform 0.4s;
}
.product__sushi:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px 10px #1074bb;
}
.product__sushi__img {
  width: 240px;
  height: 220px;
}
.product__sushi__title {
  font-size: 24px;
}
.product__sushi__text {
  min-height: 47px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7294117647);
}
.product__sushi__price {
  font-size: 23px;
  padding: 5px;
}
.product__sushi__button {
  font-family: "Exo 2", sans-serif;
  min-width: 90px;
  min-height: 40px;
  border-radius: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8196078431);
  color: #1074bb;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.5s ease, background-color 0.7s ease, box-shadow 0.5s ease, color 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__sushi__button:hover {
  background-color: #1074bb;
  color: rgba(255, 255, 255, 0.8196078431);
  box-shadow: 0 4px 15px #1074bb;
}
.product__sushi__button:active {
  transform: scale(0.9);
  box-shadow: 0 2px 8px rgba(16, 116, 187, 0.3);
}

.cart__icon {
  position: fixed;
  top: 400px;
  right: 10px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.cart__icon.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.cart__icon__button {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.cart__icon__button__img {
  width: 43px;
}
.cart__icon__button__badge {
  position: absolute;
  top: -3px;
  right: 0px;
  border-radius: 15px;
  padding: 6px 11px;
  background-color: #1074bb;
}
.cart__icon__button:hover {
  box-shadow: 0 0 100px 10px #2dd19e;
  transform: scale(1.1);
}

.cart {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}
.cart__info {
  display: flex;
  color: #fff;
  font-size: 22px;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  justify-content: center;
}
.cart__info::-webkit-scrollbar {
  width: 8px;
}
.cart__info::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
.cart__info::-webkit-scrollbar-track {
  background: transparent;
}
.cart__order-information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16px;
  gap: 30px;
  width: 550px;
}
.cart__title {
  font-size: 28px;
  margin-bottom: 20px;
}
.cart__product {
  display: flex;
  gap: 20px;
}
.cart__order-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart__order-amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart__button__shopping {
  display: flex;
  justify-content: center;
}
.cart__img {
  width: 160px;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: solid;
  background-color: rgba(0, 132, 144, 0.3490196078);
}
.footer__logo__link {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8196078431);
  padding: 15px;
  border-radius: 15px;
}
.footer__logo__img {
  max-width: 60px;
  padding-right: 25px;
}
.footer__logo__title {
  text-align: center;
}
.footer__logo__store {
  text-align: center;
  margin-top: 20px;
}
.footer__nav {
  display: flex;
  gap: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
.footer__article__nav {
  display: grid;
  gap: 10px;
}
.footer__article__nav .article__nav__text {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8196078431);
}
.footer__article__order {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.footer__article__order .article__order__tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8196078431);
}
.footer__article__workingTime {
  display: grid;
  gap: 10px;
}
.footer__article__workingTime .article__workingTime__text {
  color: #fff;
}
.footer__socialNetworks__instagram {
  max-width: 40px;
  padding-top: 10px;
}/*# sourceMappingURL=style.css.map */