.map {
  width: 100vw; // Ширина с отступами по 20px с каждой стороны
  height: 400px; // Фиксированная высота
  border-radius: 20px; // Скругленные углы
  margin: 100px 40px; // Отступы сверху, снизу и центрирование по горизонтали
  overflow: hidden; // Чтобы содержимое не выходило за скругленные углы
  box-shadow: 0 0 10px #1074bb, 0 0 20px #1074bb, 0 0 30px #1074bb; // Лёгкая тень для красивого эффекта
  filter: brightness(85%);
}

@media (max-width: 1024px) {
  .map {
    width: 90vw;
  }
}